/* General HTML Elements*/

/* Body*/
body{
    background-color: white ;
    margin: 0;
    text-align: center;
    
}


/* Navigation Bar */
.navBar { 
    
    background-color: rgb(141, 230, 213);
    font-size: 200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
   
    
}

/* Unordered List */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
}
  

/* Bold List elements */  
li b {
    display: block;     
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
               
}

/* List with a link */
li a {

  text-decoration: none;
        
}


/* List Item */
li{
       float: left;
       text-align: center;
       margin-left: 25%;

}

/* Section */
section{
    padding: 20px;
}


/* Figure*/
figure {
    border: 5px lightgrey solid;
    padding: 4px;
    margin-left: 105px;
    margin-right: 105px;
   align-items: center;
   width: 600px;
}
  
/* Figure Caption */
figcaption {
  background-color:rgb(230, 163, 167);
  color: white;
  font-style:italic;
  font-size: 15px;
  padding: 2px;
  text-align: center;
}



/* Footer */
footer {
    padding: 20px;
    background-color: rgb(230, 163, 167);
    color: white;
    font-size: 20px;
}













/* Interactice properties  */

/* Bold list items being hovered over */
li b:hover {
        background-color: rgb(129, 230, 154);
}
  
/* quizbutton items being hovered over */
#quizButton:hover {
  background-color: rgb(230, 163, 167);
  color: white;
}

/* buttons items being hovered over */
.btn:hover {
  border-color: yellow;
    
}

/* Classes  */


.active 
{
  background-color: rgb(230, 163, 167) ;
}



.navbarlist{
  float: left;
  margin-left: 0px;
}



.grid-container {
  margin-top: 5px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 20% auto 20%; 
  padding: 0px; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
}



.grid-item {
  background-color: rgb(230, 181, 117);
  color: rgba(0, 0, 0);
  padding: 0px; 
  font-size: 20px;
  text-align: center; 
  border: 5px solid white;
}
  


.gridImages {
  padding: 20px;
  align-items: center;
  
}



.footerGrid {
  display: grid;
  grid-template-columns: 5% 40% 10% 5% 40%; 
  background-color: rgb(230, 163, 167);
  padding-left : 300px;
  padding-top: 0px;
  padding-right: 100px
    
}



.footer-item {
  text-align: left;
  border: 0px solid rgba(0, 0, 0, 0.4);
  padding: 10px; 
  font-size: 15px;
  color: white;
  font-weight: normal;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.footerImage {
  height: 20px;
  width: 20px;
}



.container {
  height: 525px;
  background-color: white;
  padding: 10px;
  border: 5px black solid;
  border-radius: 10px;
}
  


.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0px;
}


  
.btn {
  font-size: 20px;
  font-weight: bold;
  border: 5px solid black;
  background-color: rgb(230, 163, 167);
  border-radius: 5px;
  padding: 10px 10px;
  color: black;
}
  


/* ID's */

#grid-item1 {
  background-color: rgb(141, 230, 213)
}


#grid-item3 {
  background-color: rgb(141, 230, 213)
}



#grid-item2 {
  padding: 10px;
  overflow-y: auto;
  max-height: 1300px;
  /* Images list-style-position: inside; */
}